<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsTrade.web.bases.mapper.AdvPositionMapper">

	<sql id="baseAdvPositionColumns">
		id,ap_name,ap_intro,ap_class,ap_display,is_use,ap_width,ap_height,ap_key
	</sql>

</mapper>
