<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsTrade.web.bases.mapper.AreaMapper">

	<sql id="baseAreaColumns">
		id,area_name,parent_id,area_sort,area_deep,is_del,create_time,update_time,parent_ids
	</sql>

</mapper>
