<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsTrade.web.bases.mapper.ExpressMapper">

	<sql id="baseExpressColumns">
		id,e_name,e_state,e_code,e_letter,e_order,e_url,is_del
	</sql>

</mapper>
