<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.OmsLogisticsCompanyMapper">

    <resultMap type="OmsLogisticsCompany" id="OmsLogisticsCompanyResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectOmsLogisticsCompanyVo">
        select id, name, code, del_flag, create_time, modify_time, del_time from oms_logistics_company
    </sql>
    <select id="queryStoreUseCompanys" parameterType="java.lang.Long" resultMap="OmsLogisticsCompanyResult">
        select lc.* from oms_logistics_company lc JOIN oms_logistics_company_use lu on lc.id = lu.company_id and lu.store_id = #{storeId}
    </select>
    <select id="selectOmsLogisticsCompanyList" parameterType="OmsLogisticsCompany"
            resultMap="OmsLogisticsCompanyResult">
        <include refid="selectOmsLogisticsCompanyVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="modifyTime != null ">and modify_time = #{modifyTime}</if>

            <if test="delTime != null ">and del_time = #{delTime}</if>
        </where>
    </select>

    <select id="selectOmsLogisticsCompanyById" parameterType="Long" resultMap="OmsLogisticsCompanyResult">
        <include refid="selectOmsLogisticsCompanyVo"/>
        where id = #{id}
    </select>

    <insert id="insertOmsLogisticsCompany" parameterType="OmsLogisticsCompany" useGeneratedKeys="true" keyProperty="id">
        insert into oms_logistics_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="delTime != null">del_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="delTime != null">#{delTime},</if>
        </trim>
    </insert>

    <update id="updateOmsLogisticsCompany" parameterType="OmsLogisticsCompany">
        update oms_logistics_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOmsLogisticsCompanyById" parameterType="Long">
        delete from oms_logistics_company where id = #{id}
    </delete>

    <delete id="deleteOmsLogisticsCompanyByIds" parameterType="String">
        delete from oms_logistics_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>