<div class="layer">
	<form name="FormPost" id="link-save" class="FormGrid"  method="post"
		action="${ctxPath}/link/save">
		
		<input type="hidden" value="${link.id!}" name="id"/>
		<table class="EditTable" width="100%">
			<tbody>
				<tr style="display: none;">
					<td class="ui-state-error" id="FormError"></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">链接名</td>
					<td class="DataTD width-100"><input type="text"
						name="linkname" datatype="*"  nullmsg="请输入标签！"
						value="${link.linkname!}"></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">链接地址</td>
					<td class="DataTD width-100"><input type="text"
						name="linkurl" datatype="*"  nullmsg="请输入键值！"
						value="${link.linkurl!}"></td>
				</tr>
				
				<tr class="FormData">
					<td class="CaptionTD">排序</td>
					<td class="DataTD">
					<input type="text" value="${link.orderno!}" name="orderno"/>
					</td>
				</tr>
				
			</tbody>
		</table>
	</form>
</div>
<#save formId="link-save" />

<script type="text/javascript">

//描述框自动扩张高度
$('textarea[class*=autosize]').autosize({append: "\n"});

</script>
