<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.setting.mapper.LsDistrictMapper">

    <resultMap type="LsDistrict" id="LsDistrictResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="cityId" column="city_id"/>
        <result property="sort" column="sort"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectLsDistrictVo">
        select id, name, city_id, sort, del_flag, create_time, modify_time, del_time from ls_district
    </sql>

    <select id="selectLsDistrictList" parameterType="LsDistrict" resultMap="LsDistrictResult">
        <include refid="selectLsDistrictVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="cityId != null ">and city_id = #{cityId}</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="modifyTime != null ">and modify_time = #{modifyTime}</if>
            <if test="delTime != null ">and del_time = #{delTime}</if>
        </where>
    </select>

    <select id="selectLsDistrictById" parameterType="Long" resultMap="LsDistrictResult">
        <include refid="selectLsDistrictVo"/>
        where id = #{id}
    </select>

    <insert id="insertLsDistrict" parameterType="LsDistrict" useGeneratedKeys="true" keyProperty="id">
        insert into ls_district
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="cityId != null">city_id,</if>
            <if test="sort != null">sort,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="delTime != null">del_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="delTime != null">#{delTime},</if>
        </trim>
    </insert>

    <update id="updateLsDistrict" parameterType="LsDistrict">
        update ls_district
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLsDistrictById" parameterType="Long">
        delete from ls_district where id = #{id}
    </delete>

    <delete id="deleteLsDistrictByIds" parameterType="String">
        delete from ls_district where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>