<table class="table table-striped table-bordered table-hover nomargin-bottom">
	<thead>
		<tr>
								<th class="center">地区名称</th>
			<th class="center">地区父ID</th>
			<th class="center">排序</th>
			<th class="center">地区深度，从1开始</th>
			<th class="center">是否删除0:未删除;1:已删除</th>
			<th class="center">创建时间</th>
			<th class="center">修改时间</th>
			<th class="center">parentIds</th>

			<th class="center">操作</th>
		</tr>
	</thead>

	<tbody>
		@for(item in page.list){
			<tr>
								<td class="center">${item.areaName!}</td>
			<td class="center">${item.parentId!}</td>
			<td class="center">${item.areaSort!}</td>
			<td class="center">${item.areaDeep!}</td>
			<td class="center">${item.isDel!}</td>
			<td class="center">${item.createTime!}</td>
			<td class="center">${item.updateTime!}</td>
			<td class="center">${item.parentIds!}</td>

				<td class="center">
					<div class="hidden-sm hidden-xs action-buttons">
					@if(auth.hasPermission("base:area:edit")){
						<a class="green" href="javascript:void(0);" 
							data-mode="page" data-title="编辑"
							data-url="${ctxPath}/area/edit/showlayer"
							data-data="{id:'${item.id}'}" 
						>
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a>
					@}
					
					@if(auth.hasPermission("base:area:delete")){
						<a class="red" href="javascript:void(0);" 
							data-mode="del" data-title="删除操作"
							data-msg="你确定删除此数据吗?"
							data-url="${ctxPath}/area/delete" 
							data-data="{id:'${item.id}',type:'${item.type}',value:'${item.value}'}"
						>
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					@}
					</div>
				</td>
			</tr>
		@}
	</tbody>
</table>
<div class="space-8"></div>
<#paginate page="${page}" />
