<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.mapper.ColumnListMapper">
    <resultMap id="BaseResult" type="com.ruoyi.cms.bean.ColumnList">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="is_show" property="isShow"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="del_time" property="delTime"/>
    </resultMap>
    <select id="queryColumnList" resultMap="BaseResult">
        SELECT id,`name`,parentId,sort,is_show,del_flag,create_time,modify_time,del_time FROM cms_article_column WHERE del_flag='0' ORDER BY parentId,sort
    </select>
    <select id="queryParentColumnList" resultMap="BaseResult">
        SELECT id,`name`,parentId,sort,is_show,del_flag,create_time,modify_time,del_time FROM cms_article_column WHERE del_flag='0' AND parentId='0' ORDER BY parentId,sort
    </select>
    <select id="queryChildColumnList" resultMap="BaseResult">
        SELECT id,`name`,parentId,sort,is_show,del_flag,create_time,modify_time,del_time FROM cms_article_column WHERE del_flag='0' AND parentId!='0' ORDER BY parentId,sort
    </select>
    <insert id="addColumn" parameterType="com.ruoyi.cms.bean.ColumnList">
        INSERT INTO cms_article_column (`name`,parentId,sort,is_show,del_flag,create_time) VALUES (#{name},#{parentId},#{sort},#{isShow},'0',now())
    </insert>
    <update id="editColumn" parameterType="com.ruoyi.cms.bean.ColumnList">
        UPDATE cms_article_column SET `name`=#{name},parentId=#{parentId},sort=#{sort},is_show=#{isShow},del_flag='0',modify_time=now() WHERE id=#{id}
    </update>
    <update id="deleteColumn" parameterType="com.ruoyi.cms.bean.ColumnList">
        UPDATE cms_article_column SET del_flag='1',del_time=now() WHERE id=#{id} OR parentId=#{id}
    </update>
</mapper>