<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.marketing.mapper.SeckillSeceneStoreMapper">
    <resultMap id="seckillSeceneStore" type="com.ruoyi.marketing.domain.SeckillSeceneStore">
        <result column="id" property="id"/>
        <result column="seckill_scene_id" property="seckillSceneId"/>
        <result column="store_id" property="storeId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <insert id="addSeckillSeceneStore" parameterType="com.ruoyi.marketing.domain.SeckillSeceneStore"
            useGeneratedKeys="true" keyProperty="id">
        insert into sms_seckill_secene_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seckillSceneId != null">
                seckill_scene_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            del_flag
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seckillSceneId != null">
                #{seckillSceneId},
            </if>
            <if test="storeId != null">
                #{storeId},
            </if>
            '0'
        </trim>
    </insert>

    <select id="querySeckillSeceneStore" parameterType="java.util.Map" resultMap="seckillSeceneStore">
        select * from sms_seckill_secene_store where  seckill_scene_id = #{seckillSceneId} and store_id = #{storeId}
    </select>

    <select id="querySeckillSeceneStoreCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1) from sms_seckill_secene_store where  seckill_scene_id = #{seckillSceneId}
    </select>

    <update id="deleteSeckillSeceneStore" parameterType="java.lang.Long">
        update sms_seckill_secene_store set del_flag = '1' where seckill_scene_id = #{seckillSceneId}
    </update>

</mapper>